.App {
  height: 100vh;
  
}

body {
  background-color: #f8f9fa;
}

.cursor-pointer {
  cursor: pointer;
}

.theader {
  position: sticky;
  top: 0;
}
.tside-header {
  position: sticky;
  left: 0;
  background-color: white;
}

.text-small {
  font-size: 12px;
}